<div id="D" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <h2>We Care</h2>
              <p class="pst">all have good health and be strong to make our life easy and good.</p>
              
              
            </div>
              
           <div class="col-md-4">
              <h2>Contact Us</h2>
               <p>1865 Cardinal Drive</p>
               <p>Melbourne,FL 32904</p>
               <p>Tel +1 212 345 3456</p>
               <p>Fax +1 212 345 3456</p>
            </div>
              
           <div class="col-md-4">
              <h2>Social</h2>
               <i class="fa fa-facebook fa-3x"></i>
               <i class="fa fa-google fa-3x"></i>
               <i class="fa fa-twitter fa-3x"></i>
               <span>CopyRight@AboRagab 2019.</span>
            </div>  
              
                  
        </div>   
    </div>
</div>