<div class="container-fluid">
    <h1>Benefits of Donating Blood</h1>
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" width="600" height="300" src="https://ichef.bbci.co.uk/news/660/cpsprodpb/13847/production/_97034997_c0231065-blood_donation_clinic-spl-1.jpg">
        </div>  
        <div class="col-md-6">
            <div>
             <h2>Helps Save Lives</h2>
             <p>
                Everyone knows that by donating blood you save lives. But how do you save lives? Donated blood can be used in a whole range of different circumstances. Patients who were in an accident or got injured and are losing blood will need a blood transfusion to aid in their recovery. Patients undergoing surgical treatment will also need donated blood to replace blood lost during the surgery.
    
                Most donated blood will go to people who have chronic medical conditions that need blood regularly, such as cancer patients and people with blood diseases like hemophilia. These people need blood on a regular basis. It is for this reason that donating blood is such a blessing.
            </p>
           </div>
        </div>
        </div>
    <div class="row">
        <div class="col-md-6">
            <h2 style="margin-top: 15px;">Lowers Your Risk of Getting Cancer</h2>
            <p>This may sound shocking to many people and they may even think it’s untrue. However, donating blood does play a great role in preventing cancer. This does not mean that a donor cannot get cancer. It just means that you can lower your chances of getting cancer by donating blood regularly.
    
                This is because when you donate blood, the iron stores within your body remain at a more healthy level. A lower iron store level in the body is connected to a lower cancer risk. A medical study has shown that older men were able to lower their risk for cancer by donating their blood.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" width="600" height="300" src="https://cdn.abcotvs.com/dip/images/3306556_040518-kgo-blood-img_Image_00-01-24,24.jpg?w=1600">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" width="600" height="300" src="http://theinspirationroom.com/daily/interactive/2013/6/the_donor_cable_3.jpg">
        </div>
        <div class="col-md-6">
            <h2 style="margin-top: 15px;">Burns Calories</h2>
            <p>
                his will probably surprise you, but donating blood often helps you to burn some calories. In fact, your body can burn up to 650 calories every time you donate one pint of blood. This happens due to the process your body goes through to replace the blood plasma that is lost during the donation.

                This means that a person who donates blood regularly loses weight as a result. However, blood donation should not be seen as a quick way to lose weight. After all, you need to wait for at least 56 days before donating another pint of blood. If you are looking to lose weight, follow a healthy diet and proper exercise.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-danger btn-lg" routerLink="/readMore">Read More</button>
        </div>
    </div>
</div>